<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="inputValue">
        <button @click="btnSubmit">提交</button>
        <ul>
            <li v-for="(item,index) in list" :key="index">{{item}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                inputValue:'hello',
                list:[]
            },
            methods: {
                btnSubmit:function(){
                    this.list.push(this.inputValue)
                    this.inputValue=" "
                }
            },
        })
    </script>
</body>
</html>